.users {
  width: 100%;
  min-height: 100vh;
  padding: 19px 62px 0 34px;
  box-sizing: border-box;

  &__title {
    font-family: 'Roboto', serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
    color: black;
  }

  &__user {
    margin-top: 15px;
  }

  &__count {
    font-family: 'Roboto', serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
    color: black;
    width: 100%;
    text-align: end;
    margin-top: 10px;
  }
}
