.aside {
  width: 152px;
  background-color: #bdbdbd;
  min-height: 100%;
  padding: 35px 0 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;

  &__title {
    font-family: 'Roboto', serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
    color: black;
  }

  &__button {
    margin-top: 10px;
  }
}
